.categories {
  width: 100%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  border-radius: 5px 10px 15px 2px;
}
.categories-title {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}
.category-links {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.prd-category-link {
  padding: 10px 15px 10px 20px;
  border: 1px solid #ed9121;
  border-radius: 5px;
  display: block;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
}
.prd-category-link:hover {
  color: #ed9121;
  background-color: #fff;
  border: 1px solid #000;
}
.prd-category-link.selected {
  color: #fff;
  background-color: cadetblue;
  border: 1px solid transparent;
}
