.products-list {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
@media only screen and (max-width: 575px) {
  .products-list {
    place-items: center;
  }
}
