.product-list-page{
  width: 100%;
  height: calc(100vh - 135px);

}
.all-products-page {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-top: 30px;
  position: relative;
}

.filter-products {
  width: 100%;
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  position: absolute;
}
