.user-account {
  width: auto;
}
.user-profile-pic {
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  overflow: hidden;
  cursor: pointer;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.user-profile-pic:hover {
  border:2px solid #ed9121;
  border-radius: 30%;
}
.user-account-details{
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 500px;
    background-color: #ffffff;
    z-index: 9999;
}
