@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;0,900;1,400&display=swap");
/* IMAGES GRID */
.grid-images-container {
  display: grid;
  height: 400px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "men women electronics" "men women jewelery";
  gap: 20px;
  margin-bottom: 30px;
}
/* INDIVIDUAL GRIDS */
.grid {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 4px solid #fff;
  transition: border 0.2s ease-in;
}
.grid:hover {
  border: 4px solid #ed9121;
}
.men-grid {
  grid-area: men;
}

.women-grid {
  grid-area: women;
}

.eltrn-grid {
  grid-area: electronics;
}

.jwl-grid {
  grid-area: jewelery;
}

/* GRID DESCRIPTION */
.grid-title {
  font-family: "Playfair Display", sans-serif;
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  line-height: 1;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 3px;
  border-bottom: 5px solid transparent;
  padding: 15px;
  transition: all 0.4s ease-out;
  border-radius: 50%;
}
.grid-title:hover {
  border-radius: 0%;
  border-bottom: 5px solid #ed9121;
}

/* GRID IMAGE */
.men-grid-img,
.women-grid-img,
.electronics-grid-img,
.jewelery-grid-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
/* OVERLAY FILTER */
.over-lay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in;
}
.over-lay:hover,
.grid-title:hover .over-lay {
  background-color: rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width:900px ){
  .grid-title{
    width: min-content;
  }
}
@media only screen and (max-width:700px ){
  .grid-images-container {
    display: grid;
    height: 500px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "men women" "electr jewelery";
    gap: 10px;
    margin-bottom: 30px;
  }
  /* INDIVIDUAL GRIDS */
  .grid {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #fff;
    transition: border 0.2s ease-in;
  }
  .grid:hover {
    border: 2px solid #ed9121;
  }
  .grid-title{
    font-size: 18px;
  }
}