/* IMAGES GRID */
.grid-images-container {
  display: grid;
  height: 550px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "one two three" "one two four";
  gap: 20px;
}
/* INDIVIDUAL GRIDS */
.grid {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.grid-one {
  grid-area: one;
}

.grid-two {
  grid-area: two;
}

.grid-three {
  grid-area: three;
}

.grid-four {
  grid-area: four;
}

/* GRID DESCRIPTION */
.grid-title {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
}
/* GRID IMAGE */
.grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
/* OVERLAY FILTER */
.over-lay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in;
  border: 1px solid #fff;
}
.over-lay:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #ed9121;
}
