.checkout-page {
  padding: 20px;
  width: 100%;
  min-height: calc(100vh - 57px - 120px);
  position: relative; /* for back button */
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ffffff;
  /*background-image: url(../../Assets/bg-cart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
/* CHECKOUT HEADER*/
.checkout-header {
  text-align: left;
  display: block;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}
/* LIST HEADER */
.chk-out-list-header {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  text-align: center;
  display: block;
  border-bottom: 2px solid cadetblue;
  padding-bottom: 10px;
}
/* CART ITEMS LIST */
.chk-out.cart-items-list {
  width: 45%;
  flex-wrap: wrap;
  height: 500px;
}
/* CART ITEM */
.chk-out.cart-item {
  cursor: pointer;
  height: 100px;
  margin-top: 6px;
  margin-right: 20px;
}
.chk-out.cart-item:hover {
  background-color: aquamarine;
}
/* CART ITEM ::AFTER LINE DIVIDER */
.chk-out.cart-item::after {
  position: absolute;
  content: "";
  height: 1px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 20px);
  bottom: -10px;
  margin: 0 auto;
  background-color: #ed9121;
}
/* PRICE DETAIL DIV */
.chk-out.item-pricing-detail {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
/* UNIT-PRICE */
.chk-out.item-price.unit {
  margin: 0;
}
.chk-out.item-price {
  min-width: 50px;
  margin-left: 5px;
}
/* ITEM-TOTAL */
.chk-out.item-price-total {
  display: flex;
  align-items: center;
  color: #000000;
  font-weight: 600;
  margin-left: 8px;
  margin-left: 0;
}
/* EQUAL SIGN */
.equal-sign {
  margin: 0 7px;
}
.chk-out.cart-item-details {
  width: 75%;
  max-height: 100%;
  padding: 5px;
}
