/* CHECKOUT TOTAL  */
.total-order-summary {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 5px; */
  font-size: 18px;
}
.order {
  color: #000000;
  font-weight: 700;
  border-bottom: 1px solid cadetblue;
}
.total-order-summary div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.estimated-tax {
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.order-total {
  color: #9e0000;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
}
