/* CHECKOUT TOTAL  */
.order-summary-wrapper {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
/* ORDER SUMMARY HEADER */
.order-summary-header {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  border-bottom: 1px solid cadetblue;
}
.order-items,
.shipping,
.before-tax,
.estimated-tax,
.order-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  color: #333;
}
.left {
  color: #000000;
}
.estimated-tax {
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.order-total {
  color: #9e0000;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
}
