.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  border-bottom-right-radius: 15px;
  margin: 0 20px;
}
.logo-link {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 30px;
  height: 30px;
}

.logo-text {
  font-weight: 500;
  font-size: 25px;
  color: #ed9121;
}
.navigation {
  display: flex;
}
.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-link {
  margin-right: 20px;
  color: #333;
  text-decoration: none;
}

.nav-link:hover {
  color: #666;
}

.cart-account-div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cart-drop-down {
  display: none;
}
.cart {
  position: relative;
  width: 22px;
  height: 20px;
  cursor: pointer;
}
.cart-icon {
  width: 100%;
  object-fit: cover;
}
.cart-counter {
  position: absolute;
  top: -6px;
  left: 90%;
  transform: translateX(-50%);
  color: #ffffff;
  font-weight: 800;
  padding: 1px 3px 1px ;
  background-color: rgba(237, 145, 33, 0.938);
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
}
