.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* background-color: #f9f9f9; */
  background-color: cadetblue;
  border: 1px solid #ddd;
  border-bottom-right-radius: 15px;
  width: 100%;
  background-image: url(../../Assets/bg-header-desktop.svg);
  background-repeat: no-repeat;
  background-position: 10% 19%;
  background-size: cover;
  position: relative; /* for cart drop down/for menu button */
}
.logo-link {
  display: flex;
  align-items: center;
}
.logo-div{
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out;
}
.logo-image {
  width: 30px;
  height: 30px;
}

.logo-text {
  font-weight: 700;
  font-size: 25px;
  /* color: #ed9121; */
  color: #333;
  letter-spacing: 3px;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.account{
  display: flex;
  align-items: center;
}
.cart-nav {
  position: relative;
  width: 22px;
  height: 20px;
  cursor: pointer;
}
.cart-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-counter {
  position: absolute;
  top: -6px;
  left: 90%;
  transform: translateX(-50%);
  color: #ffffff;
  font-weight: 800;
  min-width: 20px;
  padding: 1px 3px 1px;
  background-color: #ed9121;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
}
@media only screen and (max-width:700px){
  .logo-div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .logo-text{
    font-size: 20px;
  }
  
}
@media only screen and (max-width:500px){
  .header{
    padding: 20px 10px;
    border-radius: 0px 0px 10px 10px;
  }
  .logo-text{
    font-size: 16px;
  }
  .nav-right{
    gap: 15px;
  }
}