/* CART DROP-DOWN + HIDDEN */
.cart-drop-down {
  position: absolute;
  visibility: hidden;
  padding-bottom: 60px;
  opacity: 0;
  right: 100px;
  top: 0px;
  width: 0%;
  min-height: 0px;
  background-color: #ffffff;
  border-radius: 4px;
  border-bottom-left-radius: 15px;
  box-shadow: -5px 5px 30px -10px cadetblue;
  transition: all 0.2s ease-out;
  z-index: 9;
  background-color: rgba(255, 255, 255);
}
/* CART DROP-DOWN + VISIBLE */
.cart-drop-down.show-cart {
  opacity: 1;
  visibility: visible;
  right: 20px;
  top: 85px;
  width: 40%;
  min-height: 300px;
  z-index: 999;
}
/* CART HEADER TEXT */
.cart-header {
  display: block;
  padding: 20px 20px 10px;
  color: black;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  border-bottom: 1px solid #ed9121;
}
/* EMPTY CART */
.empty-cart {
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 90px;
  color: #000000;
  font-weight: 700;
  letter-spacing: 3px;
}
/* CART CONTENT  */
.cart-content {
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* CART ITEMS LIST */
.cart-items-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative; /* FOR CHECKOUT BUTTON */
}
/* CART ITEM ROW */
.cart-item {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* for ::after elemnt (a line) */
}
.cart-item:not(:first-child) {
  margin-top: 6px;
}
.cart-item:not(:last-child)::after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: cadetblue;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 20px);
  bottom: -10px;
  margin: 0 auto;
}
/* CART ITEM IMAGE */
.cart-item-image {
  width: 20%;
  max-width: 80px;
  height: 55px;
  padding: 5px;
}
.cart-item-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* REMOVE ITEM BUTTON */
.item-remove-btn {
  width: 5%;
  height: 17px;
  border: none;
  outline: none;
  background-color: transparent;
  margin-bottom: 15px;
}
.item-remove-btn img {
  max-width: 20px;
  min-width: 15px;
  width: 100%;
  object-fit: cover;
}
/* CART ITEM DETAILS */
.cart-item-details {
  width: 75%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 0 5px;
}
/* CART ITEM NAME */
.item-name {
  color: #000000;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.1;
  /* letter-spacing: -1px; */
}
/* CART ITEM PRICE DETAIL */
.item-pricing-detail {
  display: flex;
  align-items: center;
  color: #202020;
  font-size: 14px;
}
/* MULTIPLICATION SIGN */
.multiply-sign {
  color: #ed9121;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 2px;
  margin: 0 7px;
}
/* CART ITEM PRICE */
.item-price {
  min-width: 40px;
}
/* CART ITEM TOTAL PRICE */
.item-price-total {
  color: #000000;
  font-weight: 600;
  margin-left: 8px;
}
/* CHECKOUT BUTTON */
.checkout-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  height: 40px;
  border: none;
  outline: none;
  background-color: #ed9121;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 3px;
  border-radius: 4px;
}
.checkout-btn:hover {
  background-color: #333;
}
@media only screen and (max-width: 1000px) {
  .cart-drop-down.show-cart {
    width: 50%;
  }
}
@media only screen and (max-width: 800px) {
  .cart-drop-down.show-cart {
    width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  .cart-drop-down.show-cart {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .cart-drop-down.show-cart {
    width: 96%;
  }
}
