.footer {
  width: calc(100% - 40px);
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 20px;
  background-color: #f1f1f1;
  padding: 20px;
  border-top-left-radius: 15px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links li:not(:last-child) {
  margin-right: 10px;
}

.footer-links a {
  color: #333;
}

.footer-links a:hover {
  text-decoration: underline;
}
