.search-result-page {
  padding: 20px;
  padding-top: 10px;
  width: 100%;
  min-height: calc(100vh - 177px);
  /* position: relative; */
  background-color: white;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.search-result-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.search-page-header {
  color: #333;
  font-size: 16px;
  font-weight: 600;
}
.result-amount{
    color: cadetblue;
}
.all-products-link{
  padding: 15px;
  background-color:#ed9121 ;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}
.all-products-link:hover{
  background-color: #333;
}
.searched-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
