/* SEARCH FORM  */
.search-bar {
  /* margin: 0 auto; */
  width: 35%;
  height: 25px;
  position: relative;
}
/* SEARCH BAR/ INPUT FIELD */
#search {
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  outline: none;
  background-color: rgb(245, 248, 248);
  padding: 0px 10px;
  padding-left: 35px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #333;
  border-radius: 5px;
}
/* SEARCH ICON */
.search-icon {
  position: absolute;
  top: 6.5px;
  left: 10px;
  width: 12px;
  height: 12px;
}
.products-page-search{
    width: 200px;
  height: 30px;
  position: relative;


}