.payment-page {
  width: 100%;
  min-height: calc(100vh - 135px);
  padding: 20px 0;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ffffff;
}
.total-payment {
  margin: 10px auto;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.payment-methods {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: antiquewhite;
  padding: 20px;
}
.methods {
  width: max-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 30px;
}
#pay-method-btn {
  width: 60px;
  height: 30px;
  color: black;
  background-color: #fff;
  border-radius: 2px;
  padding: 3px 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: #007bff27;
  border: 1px solid #333;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px #333;
  transition: all 0.2s ease-in;
}
#pay-method-btn:hover{
  scale: 1.1;
  box-shadow: 1px 1px 5px -1px #333;
}
.card-img,
.paypal-img,
.bitcoin-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}
