.App {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  scroll-behavior: smooth;
  padding-bottom: 40px;
  position: relative; /* for footer */
  /* padding-bottom: 60px; */
}
.main-content {
  width: 100%;
  max-width: 1200px;
  scroll-behavior: smooth;
  margin: 20px 0px;
}
