.home-page {
  width: 100%;
  /* min-height: calc(100vh - 57px - 80px); */
  padding: 0;
  padding-bottom: 40px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ffffff;
  text-align: center;
}
/* HEADER BANNER */
.home-page-header {
  background-color: #ed9121;
  background-image: url(../../Assets/Images/bg-header-desktop.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 40px;
  width: 100%;
}
/* HEADER ANIMATION */
@keyframes blinker {
  0% {
    opacity: 1;
    color: rgb(255, 255, 255);
  }
  25% {
    opacity: 1;
    color: rgb(239, 243, 243);
    letter-spacing: 5px;
  }
  50% {
    opacity: 0.9;
    color: rgba(247, 252, 252, 0.678);
    letter-spacing: 8px;
  }

  75% {
    opacity: 1;
    color: #f5f0f0;
    letter-spacing: 10px;
  }
  100% {
    opacity: 1;
    color: #ffffff;
    letter-spacing: 5px;
  }
}
/* BANNER HEADER */
.home-header {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  /* animation: blinker 0.5s linear infinite; */
}
/* BANNER TEXT */
.home-sub-header {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 5px;
}
/* TOPPROUCTS SLIDER CONTAINER */
.slider-container {
  /* float: right; */
  width: 300px;
  height: 400px;
  margin: 10px 20px;
}
/* SLIDER HEADER */
.trending-txt {
  /* text-align: left; */
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
/* SLIDE BOX */
.slide-wrapper {
  width: 100%;
  height: calc(100% - 40px);
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
/* SHOW "VIEW DETAIS LINK ON SILDE-BOX HOVER */
.slide-wrapper:hover .link {
  opacity: 1;
}
/* #about{
  height: 100vh;
} */

@media only screen and (max-width: 700px) {
  .home-page-header {
    background-image: url(../../Assets/Images/bg-header-mobile.svg);
  }

.home-header {
  font-size: 20px;
}
/* BANNER TEXT */
.home-sub-header {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
}
}
