.payment-page {
  width: 100%;
  min-height: calc(100vh - 57px - 115px);
  padding: 20px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ffffff;
}
.total-payment{
  margin: 10px auto;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total-payment p{
  font-size: 30px;
}
.ttl{
  font-size: 30px;
}